<nav class="ui olive menu">
<%= link_to boards_path do %>
<div class="olive borderless olive item">
  <strong><h2 class="ui olive header">Trollo</h2></strong>
  </div>
  <% end %>
  <div class="ui right olive inverted menu">
  <div class="olive item" >
<h2> <%= @board.name %> </h2>
</div>
  </div>
  <div class="olive inverted right menu">
    <% if current_user %>
    <%= link_to new_user_board_path(@board), class: "borderless item" do%>
<h4><i class="plus olive icon"></i></h4>
    <% end%>
      <%= link_to destroy_user_session_path, method: :delete, class: "borderless item" do %>
<h4 class="ui olive center aligned header">Log Out<h4>
      <% end%>
    <% else %>
      <%= link_to "Register", new_user_registration_path, class: "item" %>
      <%= link_to "Login", new_user_session_path, class: "item" %>
    <% end %>
  </div>
</nav>


<div class="ui stackable three column grid">
<% @board.lists.each do |list| %>
  <div class="column">
      <div class="ui menu">
        <div class="item">
          <h3><%= list.name %></h3>
          <br />
        </div>
        
  
      <p>
               <% list.tasks.each do |task| %>  
              <%= link_to board_list_task_path(@board, list, task), method: :delete do %>
              <i class="check circle outline olive icon"></i>
              <% end%>
              <%= task.name %><br />
               <% end%>
                <% b = {:board_id => list.id} %>
<%=  link_to new_board_list_task_path(@board, list) do %>
<i class="plus square outline olive icon"></i>
<% end%>
  
          </p>
      </div>
  </div>
  <% end%>
<div class="column">
      <div class="ui menu">
        <div class="item">
<%= link_to new_board_list_path(@board) do%>
<h1><i class="plus olive icon"></i></h1>
<% end%>
</div>
   </div>
      </div>
  </div>