<!DOCTYPE html>
<html>
  <head>
    <title>Trollo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<nav class="ui olive menu">
<%= link_to boards_path do %>
<div class="olive borderless olive item">
  <strong><h2 class="ui olive header">Trollo</h2></strong>
  </div>
  <% end %>
  <div class="right menu">
    <% if current_user %>
    <%= link_to new_board_path, class: "borderless item" do%>
<h4><i class="plus olive icon"></i></h4>
    <% end%>
      <%= link_to destroy_user_session_path, method: :delete, class: "borderless item" do %>
<h4 class="ui olive center aligned header">Log Out<h4>
      <% end%>
    <% else %>
      <%= link_to "Register", new_user_registration_path, class: "item" %>
      <%= link_to "Login", new_user_session_path, class: "item" %>
    <% end %>
  </div>
</nav>
  <div class="ui container">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
    </div>
  </body>
</html>
